<div class="navbar-fixed nav-info hide-on-small-only">  
    <nav class="blue-grey darken-2" role="navigation">
        <div class="container">
            <div class="nav-address left">
                <span class="bold"><i class="material-icons left">directions</i>123 Main St. Yourtown</span>
            </div>
            <div class="nav-phone right right-align">
            <span class="bold"><i class="material-icons left">phone</i>Sales: (800)555-5555 | Service: (800)666-6666</span>
            </div>
        </div>
    </nav>
</div>
<div class="navbar-fixed">  
  <nav class="grey lighten-4" role="navigation">
    <div class="nav-wrapper container">
        <div class="hide-on-small-only">	
            <a id="logo-container" href="<%= root_url %>" class="brand-logo tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home">
        		<%= image_tag "admin-logo.png", class: "responsive-img", style: "margin-top: 6%;" %>
        	</a>
        </div>    
        <div class="hide-on-med-and-up">
            <a id="logo-container" href="#">
                <span class="brand-logo">
                    <p class="hdr-mob-txt"><em class="bold">Tower Automotive</em></p>
                    <p class="hdr-mob-phn">
                        <span class="bold"><i class="material-icons left">phone</i>(800)555-5555</span>
                    </p>
                </span>
            </a> 
        </div>           
      <ul class="right hide-on-med-and-down">
        <li class="waves-effect waves-teal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inventory"><a href="<%= inventory_url %>">
        	<i class="material-icons grey-text text-darken-1">directions_car</i>
        </a></li>
        <li><a class='dropdown-button' data-beloworigin="true" data-hover="true" href='#' data-activates='service-drop'><i class="material-icons grey-text text-darken-1">build</i></a>
            <ul id='service-drop' class='dropdown-content'>
                <li><a href="<%= service_url %>">Service</a></li>
                <li><a href="<%= parts_url %>">Parts</a></li>
                <li><a href="<%= bodyshop_url %>">Bodyshop</a></li>
            </ul>
        </li>
        <li class="waves-effect waves-teal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Finance"><a href="<%= finance_url %>">
        	<i class="material-icons grey-text text-darken-1">attach_money</i>
        </a></li>
        <li class="waves-effect waves-teal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contact Us"><a data-target="contact-modal" class="modal-trigger">
        	<i class="material-icons grey-text text-darken-1">perm_phone_msg</i>
        </a></li>
        <li class="waves-effect waves-teal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Log In"><a data-target="login-modal" class="modal-trigger">
        	<i class="material-icons grey-text text-darken-1">person</i>
        </a></li>                                
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a data-target="login-modal" class="modal-trigger">
        	<i class="material-icons grey-text text-darken-1 left">person</i>Log In
        </a></li>
        <li><a href="<%= inventory_url %>">
        	<i class="material-icons grey-text text-darken-1 left">directions_car</i>Inventory
        </a></li>
        <li><a href="<%= service_url %>">
        	<i class="material-icons grey-text text-darken-1 left">build</i>Service
        </a></li>
        <li><a href="<%= parts_url %>">
            <i class="material-icons grey-text text-darken-1 left">settings</i>Parts
        </a></li>
        <li><a href="<%= bodyshop_url %>">
            <i class="material-icons grey-text text-darken-1 left">local_hospital</i>Body Shop
        </a></li>                
        <li><a href="<%= finance_url %>">
        	<i class="material-icons grey-text text-darken-1 left">attach_money</i>Finance
        </a></li>
        <li><a data-target="contact-modal" class="modal-trigger">
        	<i class="material-icons grey-text text-darken-1 left">perm_phone_msg</i>Contact Us
        </a></li>
      </ul>
                        
      <a href="#" data-activates="nav-mobile" class="button-collapse grey-text text-darken-2"><i class="material-icons grey-text text-darken-2">menu</i></a>
    </div>
  </nav>
</div>