  <footer class="page-footer blue-grey darken-2">
    <div class="footer-body">
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Tower Automotive</h5>
              <p class="grey-text text-lighten-4">Tower Automotive has been a family business since 1975. We are your area's Premire Auto Dealership for a reason. Friendly hometown customer service at a price that's right.</p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text"> </h5>
              <ul>
                <li><a class="white-text" href="<%= inventory_url %>">Inventory</a></li>
                <li><a class="white-text" href="<%= service_url %>">Service</a></li>
                <li><a class="white-text" href="<%= parts_url %>">Parts</a></li>
                <li><a class="white-text" href="<%= bodyshop_url %>">BodyShop</a></li>
                <li><a class="white-text" href="<%= coupons_url %>">Coupons</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text"> </h5>
              <ul>
                <li><a class="white-text" href="<%= finance_url %>">Finance</a></li>
                <li><a class="white-text" href="<%= contact_url %>">Contact Us</a></li>
                <li><a class="white-text" href="<%= specials_url %>">Specials</a></li>
                <li><a class="white-text" href="<%= staff_url %>">Our Staff</a></li>
                <li><a class="white-text" href="<%= about_url %>">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="right right-align">
                <a class='dropdown-button white-text' data-hover="true" href='#' data-activates='disclaimer-drop'>Disclaimer</a>
                <ul id='disclaimer-drop' class='dropdown-content'>
                    <li><a href="<%= liability_url %>">Liability</a></li>
                    <li><a href="<%= privacy_url %>">Privacy</a></li>
                </ul>
              </div>          
              <div>
                © 2016 Tower Automotive
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </footer>