<!DOCTYPE html>
<html>
<head>
  <title>Tower Automotive</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="website-content">
<%= render 'layouts/header' %>
<div id="page-content">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
<%= render 'layouts/modals' %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script>
  $( document ).ready(function() {
    $('select').material_select();
    $('.carousel').carousel();
  });
</script>
</div>
</body>
</html>